$yellow: hsl(64, 76%, 75%);
$blue: #90e2eb;

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $blue ;
    color: black;
    @include margenes(50px, 50px)
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $blue;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    background: $blue;
    color: black;
}

.footer-address-icon {
    padding-right: 10px;
}

.nav {
    margin-bottom: 10px;
}