@yellow: #ddeb26;
@blue: #72cae8;

.margenes (@top: 0px, @bottom 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @blue ;
    color: black;
    .margenes(50px, 50px)
}

footer {
    padding: 10px 10px 0 10px;
    background-color: @blue;
    .margenes(10px, 0px)
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    background: @blue;
    color: black;
}

.footer-address-icon {
    padding-right: 10px;
}

.nav {
    margin-bottom: 10px;
}