.jumbotron {
  background-color: #50c0e9;
  color: black;
  margin-top: 50px;
  margin-bottom: 50px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #42beeb;
  margin-bottom: 0px;
  margin-top: 10px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  background: #42beeb;
  color: black; }

.footer-address-icon {
  padding-right: 10px; }

.nav {
  margin-bottom: 10px; }
